.my-form_item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 120rpx ;
  padding: 20rpx 30rpx 20rpx;
  background-color: #fff;
  // overflow: hidden;
  border-bottom: 1rpx solid #f2f2f2;

  .van-cell {
    padding-right: 30rpx;

    &::after {
      left: 0 !important;
    }

    &.field-index--van-field {
      padding: 0;
      height: 100%;
      margin-left: 0 !important;
      font-size: 32rpx !important;
    }
    &-item {
      &__right {
        width: 50%;
      }
    }
    &__title {
      font-size: 32rpx !important;
    }
  }

  .van-radio {
    margin-top: 13rpx;
    &__label {
      flex: 1;
      font-size: 32rpx;
    }
  }

  .must-filled-star {
    position: absolute;
    color: #f00;
    left: 15rpx;
  }
  &_head {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // height: 44rpx;
    padding: 10rpx 0rpx 10rpx;
    padding-left: 5rpx;
    // margin-bottom: 10rpx;
    font-size: 28rpx;
    line-height: 28rpx;
  }

  &_content {
    position: relative;
    // margin: 0 30rpx;
    // background-color: blue;
    // border-bottom: 1rpx solid #f2f2f2;
  }
}

.color {
  color: #4f7ef2;
}

picker.select-picker {
  background-color: transparent;
  // background-color: red;
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  height: 70rpx;
  // z-index: 3 !important;
  // border: 3px solid red;
  z-index: 10;
  // background-color: red;
}
.select-picke {
  top: 0 !important;
  // background-color: red !important;
}

.select-picker-box {
  display: block;
  width: 100% !important;
  height: 50rpx !important;
  // background-color: green!important;
  position: relative !important;
  z-index: 4 !important;
}

.select-picker-btn {
  position: absolute;
  right: 30rpx;
  top: -45rpx;
  color: #1759ef;
  font-size: 28rpx !important;
}

.select-picker {
  &-btn {
    color: #1759ef;
    font-size: 30rpx;
  }
}

.my-radio {
  .vant-radio {
    // width: 40%;
    display: block;
    margin-top: 100rpx !important;
  }
}

// 表单按钮
.form-btn {
  width: 260rpx;
}

button.btn-lucency-filled {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  background: none;

  &::after {
    border: none;
  }
}
