.map-picker {
  position: absolute;
  // background-color: red;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
  // border: 3px solid red;
  // background-color: red;
  &.hide {
    height: 0;
  }
  view {
    position: absolute;
    right: 30rpx;
    top: -65rpx;
    color: #1759ef;
    font-size: 32rpx !important;
  }
}
.geo-item {
  display: flex;
  align-items: center;
  .myinput {
    flex: 1;
  }
  .geo-item-fade {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: 3px solid red;
    background-color: red;
  }
}
