.my-form_item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 120rpx ;
  padding: 20rpx 30rpx 20rpx;
  background-color: #fff;
  // overflow: hidden;
  border-bottom: 1rpx solid #f2f2f2;

  &_head {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 44rpx;
    padding: 20rpx 0rpx;
    margin-bottom: 20rpx;
    font-size: 24rpx;
    line-height: 24rpx;
  }

  &_content {
    position: relative;
    // padding: 0 30rpx;
    // background-color: blue;
    // border-bottom: 1rpx solid #f2f2f2;
  }
}

.my-form {
  &-item {
    &__right {
      width: 50%;
    }
  }
}
