page {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.scrollview {
  height: 100%;
}
.top-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110rpx;
  margin: 10rpx 15rpx;
  padding: 30rpx 20rpx 30rpx 20rpx;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5rpx 27rpx 0px rgba(194, 199, 225, 0.47);
  border-radius: 10rpx;
}
.share-box {
  position: relative;
  width: 60rpx;
  height: 60rpx;
  image {
    width: inherit;
    height: inherit;
  }
}

.row-item {
  display: flex;
  margin: 10rpx 30rpx 0;
  padding: 0 30rpx;
  height: 100rpx;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5rpx 27rpx 0px rgba(194, 199, 225, 0.47);
  border-radius: 10rpx;

  &_left {
    white-space: nowrap;
    width: 390rpx;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_right {
    display: flex;
    align-items: center;
    justify-content: center;
    &-statistic {
      display: flex;
      align-items: center;
    }
    .btn-statistic {
      display: inline-block;
      margin-left: 15rpx;
      width: 72rpx;
      height: 72rpx;
    }
    &_btn {
      margin-left: 15rpx;
      &-setting {
        color: #1759ef;
      }
      &-delete {
        color: red;
      }
    }
  }
}

.head {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rpx;
  padding: 0 30rpx 0;
  width: 750rpx;
  height: 88rpx;
  font-size: 30rpx;
  background: white;
  border-bottom: 1rpx solid #f2f2f2;
}
.head image {
  margin-right: 20rpx;
  width: 54rpx;
  height: 54rpx;
}
.head-title,
.head-date,
.head .head-date-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .head-date-text {
  color: #3891ff;
}
.head-title {
  white-space: nowrap;
  width: 400rpx;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  background-color: #fff;
  padding: 0;
  line-height:100%;
  border-radius:0;
  &::after {
    border: none;
  }
}
